*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'quicksand' sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width:300px;
    border:3px solid rgb(222, 222, 222);
    border-radius: 10px;
    padding:20px;
    background-color:white;
    box-shadow:10px 10px 5px rgba(1,1,1,0.15);
    transition: 0.5s;

}
.container:hover{
    border:3px solid rgb(191, 191, 191);
    transition: 0.5s;
}

h2{
    text-align: center;
    font-size: 2em;
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}

.container form{
    width: 100%;
    margin:0px 2px;
}

.input {
    position: relative;
    margin:10px 0px;
    margin-top:40px;
   
}

.input input{
   width: 100%;
   height:50px;
   background:transparent;
   outline: none;
   border-radius: 40px;
   border:3px solid rgb(181, 180, 180);
   padding:10px;
   background:white;
   color:black;
   transition: 0.5s;
}

label{
    position: absolute;
    top:-25%;
    left:1px;
    font-size: 18px;
    font-weight: 300;
    margin:10px;
}

.input input:hover{
    box-shadow: 5px 5px 5px rgba(75, 74, 74, 0.15);
    transition: 0.5s;

}

.email{
    top:-37px;
}

.forget{
    text-align: end;
    margin:10px 20px;
}

.forget a{
    font-size: 13px;
    color:black;
    font-weight:200px;
     cursor:pointer;
     text-decoration: none;
}

.forget a:hover{
    text-decoration: underline;
}

.btn{
    width:100%;
    height:30px;
    border-radius: 40px;
    outline: none;
    border:none;
    cursor:pointer;
    transition: 0.5s;
    margin-top:10px;
    margin-bottom:10px;
    background: #17c7ef;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff404d, #c95dff, #12c2e9);
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
color:white;
padding:10px;
font-size: 18px;
font-weight: bolder;
padding-bottom:30px;

}

.btn:hover{
background: #0e8fab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #a8252e, #852ab2, #119bba);
background: linear-gradient(to right, #bc2731, #9246b8, #1099b8);
}

.signin,.login{
    text-align: center;
     margin:10px 20px;
   
}

.signin a , .login a{
    font-size: 12px;
    color:black;
    font-weight:bold;
     cursor:pointer;
     text-decoration: none;
     font-size:20px;
}

.signin a:hover , .login a:hover{
         text-decoration: underline;
}

.sigin p{
   text-align: center;
}

.upper{
    top:-40px;
}
 

.register{
    color:black;
    font-size: 15px;
    text-align: start;
}

.register a{
    margin-left:70px;
    font-size: 17px;
}

.login a{
    margin-left:60px;
    font-size: 17px;
}




